(logging_back) {
        log {
                output file /var/log/caddy/access_back.log
        }
}


{{ backend_hostname }} {

    import logging_back

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        Cache-Control "public, max-age=86400"
    }


    # --- SOLR ---

    redir /solr /solr/
    reverse_proxy /solr/* solr:8983

    # --- MOD_TILE ---

    reverse_proxy /osm_tiles/* mod_tile:80
    reverse_proxy /nolabels/* mod_tile:80
    reverse_proxy /onlylabels/* mod_tile:80

    # --- BBOX ---

    handle_path /vector_tiles/* {
        reverse_proxy bbox:8080
        header Cache-Control "public, max-age=86400"
    }

    # --- METADATA ---

    handle_path /static/* {
        root /static
        file_server
    }

    # --- TEST FRONT ---

    handle /data/* {
        redir https://{{ backend_hostname }}/static/{uri}
    }

    redir /bbox /bbox/

    handle_path /bbox/* {
        root /front/bbox/dist
        file_server
    }

    redir /ncbi /ncbi/

    handle_path /ncbi/* {
        root /front/ncbi
        file_server
    }

    # --- HEALTH ENDPOINT ---

    handle /health {
        respond "OK" 200
    }

}