---
- name: Lifemap builder install
  hosts: lifemap-back

  tasks:
      - name: Rsync builder
        ansible.posix.synchronize:
            src: "../builder/"
            dest: "{{ builder_dir }}"

      - name: Copy env to builder repo
        ansible.builtin.template:
            src: templates/env.j2
            dest: "{{ builder_dir }}/.env"
            mode: "0600"
            force: true

      - name: Install uv
        ansible.builtin.shell: curl -LsSf https://astral.sh/uv/install.sh | sh
        args:
            creates: "/home/{{ ansible_user }}/.local/bin/uv"

      - name: Install python and python packages for builder
        ansible.builtin.command:
            chdir: "{{ builder_dir }}"
            cmd: ~/.local/bin/uv sync
            # executable: /bin/bash
        changed_when: true

      - name: Rsync taxo
        ansible.posix.synchronize:
            src: ../builder/taxo/
            dest: "{{ build_results_dir }}/taxo/"

      - name: Creates lifemap update cron
        become: true
        ansible.builtin.cron:
            name: "lifemap update"
            # Monday at 2AM
            weekday: "1"
            minute: "0"
            hour: "2"
            user: "{{ ansible_user }}"
            job: ". /home/{{ ansible_user }}/.profile && cd {{ builder_dir }} && ./cron_update.sh"
            cron_file: lifemap_update
