---
lifemap:
    vars:
        backend_hostname: lifemap-back.example.com
        backend_ip: CHANGE_ME
        ansible_python_interpreter: "/usr/bin/python3"
    hosts:
        lifemap-back:
            ansible_host: "{{ backend_ip }}"
            ansible_user: CHANGE_ME
            builder_dir: "/home/{{ ansible_user }}/builder"
            build_results_dir: "/home/{{ ansible_user }}/builder_results/"
            docker_dir: "/home/{{ ansible_user }}/back"
            prometheus_dir: "/home/{{ ansible_user }}/prometheus"
            static_root_dir: "/home/{{ ansible_user }}/www/static"
            postgresql_db: "tree"
            postgresql_user: "lm"
            postgresql_password: "CHANGE_ME"
            solr_password: "CHANGE_ME"
            front_root_dir: "/home/{{ ansible_user }}/www/front"
            discord_webhook_url: "CHANGE_ME"
