(logging) {
        log {
                output file /var/log/caddy/access_front.log
        }
}


{{ frontend_hostname }} {

    import logging

    handle /data/* {
        redir https://{{ backend_hostname }}/static/{uri}
    }


    uri /bbox/* replace /bbox/ /bbox/dist/
    root /bbox/* {{ front_root_dir }}

    #handle_path /bbox/* {
    #    root {{ front_root_dir }}/bbox/dist
    #    file_server
    #}


    root * {{ front_root_dir }}/ncbi
    file_server

}